.scroll-watcher {
    height: 5px;
    position: fixed;
    top: 0;
    z-index: 1000;
    background-color: black;
    width: 100%;
    scale: 0 1;
    transform-origin: left;
    animation: scroll-watcher linear;
    animation-timeline: scroll();
}

@keyframes scroll-watcher{
    to {
        scale: 1 1;
    }
}